/* Blackjack */

.dealer {
    height: 250px;
}
.player-hand {
    height: 250px;
}

.dealer-hand {
    display: none;
}
.topS{
    margin-top: 80px;
}
.default-pic{
    height: 300px;
}


/* From uiverse.io by @Botwe-Felix5820 */
button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 10em;
    background: #3d9983;
    font-size: 17px;
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
   }
   
   button:hover {
    cursor: pointer;
    animation: shake3856 0.6s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
  
   
   /*
.hitBtn,
.standBtn,
.newBtn{
    width: 80px;
    height: 40px;
    background-color: grey;
    color: white;
}
*/

/* background */
body {
    background: url('bg.jpeg') no-repeat center;
    background-size: cover;
}

/* texts */
h2 {
    color: white;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.hero-nav{
    position: fixed;
    top: -160px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    min-height: 105px;
}
h1{
    color: #5CAF80;
    font-size: 2.5vw;
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: white;
}

img {
    display: inline-block;
    margin: auto;
    width: 50%;
    height: 18vw;
    width: auto;
}
.addBot{
    margin-bottom: 400px;
}

@media (max-width: 768px) {
    .default-pic{
        height: 180px;
    }
    .initial{
        margin-top: 100px;
    }
    img {
        display: inline-block;
        margin: auto;
        width: 50%;
        height: 40vw;
        width: auto;
    }
    h1{
        color: #5CAF80;
        font-size: 7vw;
        -webkit-text-stroke-width: .8px;
        -webkit-text-stroke-color: white;
    }
    .topS{
        margin-top: 20px;
    }
    .tip{
        margin-top: 80px;
    }
    button {
        font-size: 17px;
        height: 2em;
        width: 6.3em;
       }
    body {
        background: url('bg.jpeg') center;
        background-size: cover;
    }
  }